[submodule "lib/mcpat"]
	path = lib/mcpat
	url = git@github.com:simplessd/mcpat


[submodule "lib/lz4"]
	path = lib/lz4
	url = https://github.com/lz4/lz4.git

[submodule "lib/7z"]
	path = lib/7z
	url = https://github.com/kornelski/7z.git